<main>

    <div class="columns main__container">
      
    <section class="column is-3 has-background-dark">
        <div class="container__left-side">
            <h2 class="title is-h2 has-text-white">GifsApp</h2>
            <hr>
            <form class="box">
                <div class="field">
                  <label class="label">Busqueda</label>
                  <div class="control">
                    <input 
                      class="input" 
                      type="text" 
                      placeholder="e.g. alex@example.com"
                    />
                  </div>
                </div>
              </form>
        </div>
    </section>
      
    <section class="column is-9">
        <div class="columns is-mobile is-multiline">
            <app-card class="column is-4"></app-card>
            <app-card class="column is-4"></app-card>
            <app-card class="column is-4"></app-card>
            <app-card class="column is-4"></app-card>
            <app-card class="column is-4"></app-card>
          </div>
    </section>
      
    </div>

</main>

<style>
    .container__left-side
    {
        padding: 10px;
    }
</style>