    <div class="container__left-side">
        <h2 class="title is-h2 has-text-white">GifsApp</h2>
        <hr>
        <p class="has-text-white is-size-4 mb-3 has-text-weight-bold is-bold">
            Busquedas recientes
        </p>
        <section class="container__tags">
            <div 
                *ngFor="let tag of tags"
                (click)="selectTag(tag)" 
                class="box w-100 w-full" 
            >
                {{ tag | titlecase }}
            </div>
        </section>
    </div>

    <style>
        .container__tags
        {
            overflow-y: scroll;
            max-height: 80vh;
        }
        .container__tags::-webkit-scrollbar-thumb
        {
            background-color: #fff;;
        }
    </style>